<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16">
</head>
<body>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="script.js"></script>


    <div ng-app="blog-angular" ng-controller="baseController">
        
        
        
          <ul class="list-inline">
            <li ng-repeat="blog in blogs" class="list-inline-item blog-item"> 

            
                
            </li>
            
         </ul>


         <div class="container-fluid">
                <div ng-repeat="blog in blogs track by $index" class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" alt="Card image cap">
                        <div ng-if="$index !== editingBlogIndex" class="card-body">
                          <h5 class="card-title">{{blog.title}}</h5>
                          <p class="card-text">{{blog.text}}</p>
                          <a  class="btn btn-primary">pozri</a>
                          <a ng-click="startEditingBlog($index)" class="btn btn-primary">edit</a>
                          <a ng-click="deleteBlog($index)" class="btn btn-primary">X</a>
                        </div>

                        <div ng-if="$index === editingBlogIndex" class="card-body">
                            <form>
                                <h5 class="card-title">
                                    <input type="text" ng-model="editingBlog.title">
                                </h5>                          
                                <p class="card-text">
                                    <input type="text" ng-model="editingBlog.text">
                                </p>                               
                                <a ng-click="editBlog($index)" class="btn btn-primary">Potvrd</a>
                                <a ng-click="cancelEditingBlog()" class="btn btn-primary">Zrus</a>
                            </form>                         
                        </div>
                    </div>

                      

                </div>

                <a ng-click="startAddingBlog()" ng-if="!addingBlog" class="btn btn-primary add">Pridaj</a>
                <div class="col" ng-if="addingBlog">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg" alt="Card image cap">                       
                        <div class="card-body">
                            <form>
                                <h5 class="card-title">
                                    <input type="text" ng-model="newBlog.title">
                                </h5>                          
                                <p class="card-text">
                                    <input type="text" ng-model="newBlog.text">
                                </p>                               
                                <a ng-click="addBlog()" class="btn btn-primary">Pridaj</a>
                                <a ng-click="cancelAddingBlog()" class="btn btn-primary">Zrus</a>
                            </form>                         
                        </div>
                      </div>
                </div>

            </div>

        

         
        
        
    </div>


</body>
</html>






























  <!-- <button ng-click="send()">
            send
        </button>
        
        <div>
            response: 
            <div>status: {{result.status}}</div>
            <div>massage: {{result.massage}}</div>
            <div>content.text: {{result.content.text}}</div>
            
            <div>content.array: 
                <ul>
                    <li ng-repeat="item in result.content.array">{{item}}</li>
                </ul>
            </div>

            <input type="text" ng-model="typeText">
            <h1> {{typeText.toUpperCase()}} </h1>
        </div>
         -->