<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16">
</head>
<body>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script> <!---->
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    

    <div ng-app="blog-angular" ng-controller="baseController">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#/!">Navbar</a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#!home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#!blogy">Blogy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#!gallery">Gallery</a>
                </li>
              </ul>
            </div>
          </nav>




          <ng-view>


          </ng-view>

        
          
        
        

         
        
        
    </div>


</body>
</html>






























  <!-- <button ng-click="send()">
            send
        </button>
        
        <div>
            response: 
            <div>status: {{result.status}}</div>
            <div>massage: {{result.massage}}</div>
            <div>content.text: {{result.content.text}}</div>
            
            <div>content.array: 
                <ul>
                    <li ng-repeat="item in result.content.array">{{item}}</li>
                </ul>
            </div>

            <input type="text" ng-model="typeText">
            <h1> {{typeText.toUpperCase()}} </h1>
        </div>
         -->