
.container div div {
    border: 1px solid black;

}

.blog-item {
    width: 300px;
    height: 300px;
    
}

.card {
    margin-top: 50px;
}

.add {
    margin-bottom: 300px;
    margin-top: 30px;

}

.slider {
    /* width: 50%;
    height:50%;
     */
    
} 

.nav-item { 
    font-size: 20px;    
}

.mycontainer{   
    margin-top: 90px; 
}

.myButtonSpanAdmin {
    float: left;
    width: 33.33%;   
    padding-left: 2px;
    padding-right: 2px;
    
}
.myButton {
    /* width: calc(100%-2px); */
   width: 100%; 
  
}

.myButtonSpanUser {
    float: left;
    width: 100%;   
}

.card-text {
    height: 100px;
    overflow: hidden;
}

.card-title {
    overflow: hidden;
    height:33px;
}

.cardTitle {
    height: 33px;
}

.cardText {
    height: 33px;
}

.myWholeBlog {
    padding: 0px 30px;
}



  .pozadie-primary {
      background-color: #17a2b8 !important;
  }

  .pozadie-secondary  {
    background-color: #6c757d !important;
}

.mytext-primary  {
    color:  #17a2b8 !important;
    
}

.my-nav-div {
    width: 46px;
}

.my-button-nav {
    height: 46px;
}

.mybutton-fifty {
  
    width: 47%;    
   
}

